In [2]:
import pandas as pd

In [16]:
data = pd.read_csv("projectdata.csv", names = ["#A","B","#C","D","#E","F","G","H","I","J","#K","#L","#M","N","O"], header = None)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
#A    32561 non-null int64
B     32561 non-null object
#C    32561 non-null int64
D     32561 non-null object
#E    32561 non-null int64
F     32561 non-null object
G     32561 non-null object
H     32561 non-null object
I     32561 non-null object
J     32561 non-null object
#K    32561 non-null int64
#L    32561 non-null int64
#M    32561 non-null int64
N     32561 non-null object
O     32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

(0, 2, 4, 10, 11, 12)

In [20]:
res = data[~data.eq("?").any(1)]
res.info()
res.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 15 columns):
#A    30162 non-null int64
B     30162 non-null object
#C    30162 non-null int64
D     30162 non-null object
#E    30162 non-null int64
F     30162 non-null object
G     30162 non-null object
H     30162 non-null object
I     30162 non-null object
J     30162 non-null object
#K    30162 non-null int64
#L    30162 non-null int64
#M    30162 non-null int64
N     30162 non-null object
O     30162 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

   #A   B      #C   D  #E   F   G   H   I   J     #K  #L  #M   N      O
0  39  A0   77516  B0  13  C0  D0  E0  F0  G0   2174   0  40  H0  SMALL
1  50  A1   83311  B0  13  C1  D1  E1  F0  G0      0   0  13  H0  SMALL
2  38  A2  215646  B1   9  C2  D2  E0  F0  G0      0   0  40  H0  SMALL
3  53  A2  234721  B2   7  C1  D2  E1  F1  G0      0   0  40  H0  SMALL
4  28  A2  338409  B0  13  C1  D3  E2  F1  G1      0   0  40  H1  SMALL
5  37  A2  284582  B3  14  C1  D1  E2  F0  G1      0   0  40  H0  SMALL
6  49  A2  160187  B4   5  C3  D4  E0  F1  G1      0   0  16  H2  SMALL
7  52  A1  209642  B1   9  C1  D1  E1  F0  G0      0   0  45  H0  LARGE
8  31  A2   45781  B3  14  C0  D3  E0  F0  G1  14084   0  50  H0  LARGE
9  42  A2  159449  B0  13  C1  D1  E1  F0  G0   5178   0  40  H0  LARGE

In [25]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.model_selection import KFold

In [30]:
folds = KFold(n_splits = 10,shuffle = True, random_state = 88)

KFold(n_splits=10, random_state=88, shuffle=True)